<!-- <div *ngFor="let images of dataImage">
      <img class="rounded shadow-md" src="{{images.alt_description}}" alt="">
    </div> -->
<div class="grid lg:grid-cols-4 gap-6 p-10 lg:px-32">
    <div>
        <img class="rounded shadow-md" src="/assets/TI2.jpg" alt="" />
      </div>
      <div>
        <img class="rounded shadow-md" src="/assets/TI3.jpg" alt="" />
      </div>
      <div>
        <img class="rounded shadow-md" src="/assets/TI4.jpg" alt="" />
      </div>
      <div class="">
        <img class="rounded shadow-md" src="/assets/TI5.jpg" alt="" />
      </div>
      <div>
        <img class="rounded shadow-md" src="/assets/TI6.jpg" alt="" />
      </div>
      <div>
        <img class="rounded shadow-md" src="/assets/TI7.jpg" alt="" />
      </div>
      <div>
        <img class="rounded shadow-md" src="/assets/TI8.jpg" alt="" />
      </div>
      <div>
        <img class="rounded shadow-md" src="/assets/TI9.jpg" alt="" />
      </div>
</div>


