<header class="sticky top-0">
  <nav class="h-80 bg-slate-50">
    <!-- <div class="m-10">
      <ul class="flex gap-5">
        <li>Test 1</li>
        <li>Test 2</li>
        <li>Test 3</li>
        <li>Test 4</li>
      </ul>
    </div> -->
    <div class="pt-20 flex justify-center">
      <p class="font-mono">Above and Below the Ocean</p>
    </div>
    <div class="pt-24 lg:pt-36">
      <p class="text-6xl text-center font-mono">Featured Artworks</p>
    </div>
  </nav>
</header>

<section class="mt-4">
  <app-image-grid></app-image-grid>
</section>

<section class="flex justify-center">
  <a class="font-mono bg-sky-400 hover:bg-sky-700 py-3 px-4 rounded" routerLink="feedback-and-chat">find out more about these!</a>
</section>

<router-outlet></router-outlet>